$font-size: 100px;

h1 {
  font-size: $font-size;
  display: flex;
}

.clock {
  background: url("../images/clock.jpg");
  background-size: cover;
  height: 500px;
  width: 500px;
}

.bark {
  height: 500px;
  width: 500px;
  background-color: aliceblue;
  background-image: url("../images/sample.svg");
  background-size: cover;
}

::placeholder {
  color: grey;
}

// .clock {
//   height: 500px;
//   width: 500px;
//   background-color: aliceblue;
//   background-image: url(../images/clock.jpg);
//   background-size: cover;
// }

// .bark {
//   height: 500px;
//   width: 500px;
//   background-color: aliceblue;
//   background-image: url(../images/light-1.jpg);
//   background-size: cover;
// }
