$font-size: 100px;

h1 {
  font-size: $font-size;
  display: flex;
}

// .clock {
//   // background: url("../images/light-1.jpg?size=500");
//   background-size: cover;
//   height: 500px;
//   width: 500px;
// }

::placeholder {
  color: grey;
}

// .clock {
//   height: 500px;
//   width: 500px;
//   background-color: aliceblue;
//   background-image: url(../images/clock.jpg);
//   background-size: cover;
// }

// .bark {
//   height: 500px;
//   width: 500px;
//   background-color: aliceblue;
//   background-image: url(../images/light-1.jpg);
//   background-size: cover;
// }
